<h1>包 裹</h1>
<table>
  <tr>
    <th>供应商</th>
    <th>商品名</th>
    <th>购买数量</th>
    <th>单价</th>
    <th>邮费</th>
    <th>总价</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= @supplier.name %></td>
    <td><%= @commodity.name %></td>
    <td><%= @order.num %></td>
    <td><%= @commodity.price %></td>
    <td><%= @supplier.postage %></td>
    <td><%= @order.price %></td>


  </tr>
</table>
